node_modules
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
packages/*/dist
.env
.env.local
build/
.logs/
.idea/
.vitest-*
dist-electron/
.electron-runtime/
release/
node_modules/
*.log
.env*
!.env.example
